:host {
  display: flex;
  align-items: center;
  flex-direction: column;
}

::ng-deep .mat-dialog-container {
  background: white;
  padding: 2rem;
}

::ng-deep .dark {
  .mat-dialog-container {
    background: #2c394b;
    color: white;
  }
}
hr {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
}

.modal-image {
  height: 20rem;
  border-radius: 5px;
}
