:host {
  cursor: pointer;
}

.movie {
  text-align: center;
  padding: 5px;
  font-size: 16px;
}
.grid-item {
  text-align: center;
}
.img-avatar {
  border-radius: 50%;
}
hr {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  border: 0;
  height: 1px;
  background: #ccc;
}
.movie-container {
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
  padding: 2rem 1rem;
  border-radius: 2rem;
}
.title {
  font-size: 1.5rem;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 600;
}
.description {
  color: grey;
}

.movie-description {
  margin-bottom: 1rem;
  height: 3rem;
  text-align: left;
  margin-top: 1rem;
  width: 100%;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
.mat-chip {
  min-width: 5rem;
  justify-content: center;
}

::ng-deep .mat-chip.mat-standard-chip {
  background-color: goldenrod !important;
  text-transform: capitalize;
}

.dark {
  .movie-container {
    background: #152a38;
  }
}
