<div mat-raised-button class="grid-container" *ngIf="movie" [class]="theme">
  <div (click)="openDialog()" class="grid-item">
    <div class="movie-container">
      <div><img class="img-avatar" [src]="imageToShow" /></div>
      <hr />
      <div class="movie title">{{ movie.title }}</div>
      <div class="movie-description" ellipsis>
        {{ movie.description }}
      </div>

      <mat-chip-list aria-label="Genre selection">
        <mat-chip color="accent" *ngFor="let genre of movie.genres">
          {{ genre }}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</div>
