.container {
  height: 100%;
  background: #667db6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .banner {
    height: 40rem;
  }
  .mat-form-field {
    display: block;
  }

  .mat-button {
    width: 100%;
    padding: 0;
    background-color: dodgerblue;
    color: white;
  }

  .form {
    width: 50%;
    padding: 5rem;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 1rem;

    &-wrapper {
      margin-bottom: 2rem;
    }
  }
  .no-user {
    padding-top: 30px;
    text-align: center;
    color: red;
  }
}
::ng-deep .mat-form-field-flex {
  background-color: white !important;
}
