.container {
  display: flex;

  .mat-form-field {
    display: block;
  }

  h1 {
    font-family: 'Raleway';
    font-weight: 900;
    letter-spacing: 1px;
    word-spacing: 1px;
  }

  .pagetitle {
    font-size: 2rem;
    padding: 1rem;
    display: inline-block;
    background: lightblue;
    margin-bottom: 2rem;
  }

  .subheader {
    display: flex;
    p {
      text-align: justify;
    }
  }
  .mat-button {
    width: 100%;
    padding: 0;
    background-color: dodgerblue;
    color: white;
    height: 3rem;
  }

  .form {
    width: 50%;
    padding: 3rem;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgb(0 0 0 / 25%);

    &-wrapper {
      margin-bottom: 2rem;
    }

    hr {
      margin-bottom: 2rem;
    }
  }
  .no-user {
    padding-top: 30px;
    text-align: center;
    color: red;
  }
}
.tile-1 {
  padding: 4rem;
}
.tile-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 50%;
}
::ng-deep .mat-form-field-flex {
  background-color: white !important;
}

@media screen and (max-width: 420px) {
  .container {
    flex-direction: column;
  }
  .subheader {
    img {
      max-height: 10rem;
    }
  }
  .tile-1 {
    margin: 1rem;
    padding: 0;
  }
  .tile-2 {
    margin-top: 2rem;
  }
  .form {
    width: 75% !important;
    padding: 1rem !important;
    margin: 2rem;
  }
}

.dark {
  .pagetitle {
    background-color: var(--dark-lavendar);
  }
}
